body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.container {
    background: rgba(0, 62, 112, 0.806);
    padding: 100px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 40px 40px 90px rgb(235, 7, 197);
}

button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor:cell;
    border-radius: 10px;
}

button:hover {
    background-color: #e91e63;
}


